body {
  margin: 0px;
  /* overflow: hidden; */
  color: black;
  text-align: center;
}

h1 {
  width: 100%;
  z-index: 1;
  font-size: 2.5rem;
}

h2 {
  width: 100%;
  z-index: 1;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: purple;
}

#scene-container {
  margin-top: 5em;
  height: 40em;
  min-width: 35em;
  top: 20em;
}

.title {
  font-weight: 900;
  color: white;
  text-shadow: 0.075em 0.05em 0.1em rgba(0, 0, 0, 1);
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

.aside {
 text-align: left;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto;}
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}